@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: 0 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.fave-orange {
  min-height: 100%;
  background: orange;
}

.fave-blue {
  min-height: 100%;
  background-color: #40C6FF;
}

.title {
  font-family: 'Oxygen', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: white;
  padding-top: 75px;
  padding-left: 100px;
}

.photo-container {
  float: left;
  width: 396px;
  margin-top: 66px;
  margin-left: 115px;
}

.photo {
  width: 396px;
  border: solid 1px #EFEFEF;
}

a:hover img.photo {
  border: solid 1px #CCC;
  box-shadow: 1px 1px 5px #999;
}

.description {
  width: 500px;
  margin-top: 66px;
  margin-left: 60px;
  float: left;
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  line-height: 120%;
  color: #535353;
}
.description a:link, .description a:visited {
  color: white;
  text-decoration: none;
}

.next {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
  color: white;
  position: absolute;
  width: 100px;
  margin-top: 470px;
  left: 600px;
}
.next a:visited {
  color: white;
}
.next a::before, .next a::after {
  display: inline-block;
  opacity: 0;
  transition: transform 0.3s, opacity 0.2s;
}
.next a::before {
  margin-right: 10px;
  content: '[';
  transform: translateX(20px);
}
.next a::after {
  margin-left: 10px;
  content: ']';
  transform: translateX(-20px);
}
.next a:hover::before,
.next a:hover::after,
.next a:focus::before,
.next a:focus::after {
  opacity: 1;
  transform: translateX(0px);
}
